.container {
  padding: 2rem;
}
.searchContainer{
    display: flex;
    padding: 10px 0;
    input{
        flex: 1;
        margin-right: 1rem;
        width: auto;
        max-width: 150px;
    }
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    border-bottom: 1px solid #333;
}
.title{
    color: #000;
}